
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
}
.titel{
text-align: center;
padding-bottom: 30px;
color: white;
}

input{
    margin:5px;
}

label{
    width:30vw;
}
.container{
    background-color: #8ea8b7ff;
    margin-top: 20px;
    min-height: 90vh;
    min-width: 90vw;
    color:white;

}

